body{
    background-color:black;
    font-family: helvetica;
    padding: 3%;

  }
  h1{
    font-size: 26px;
    color: white;
  }
  p,li {
    font-size: 20px;
    line-height: 24px;
    color: white;
  }

.person{
  line-height: 5px;
}

  .button{
    font-size: 16px;
    color: white;
    border: solid 2px #254E70;
    background-color:#254E70 ;
    padding: 5px;
    line-height: 30px;
    width: 80%;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
  }

  .link{
    margin:20px;
    
  }

  .button:hover {
    font-weight: 550;
    background-color: #37718E;
    color: aqua;
    
  }
  


  img{
    width: 100px;
    border-radius: 100%;
    border: solid 2px;
    border-color: #254E70;
  }
  
 
  .skills{
    font-weight: 500;
    font-size: 24px;
    color: white;
    line-height: 0.1px;

  }

  #container {
    text-align: center;
    margin: 9px;
    
  } 

.date{
  text-align: center;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #394C6D;
  border-radius: 5px;
  overflow: hidden;
  width: 85%;
  list-style-position: inside;
  position: relative;
  
}

li{
  list-style: none; 
  text-align: center;
}

#more{
  color: #0C7C59;
  font-weight: 600;
  
}

.list{
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  right: 15px;

}